<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--импорт файла со значениями-->
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <!--lesson 2-->
    <bean id="testBean"
          class="springTest.lesson2.TestBean">
        <constructor-arg value="Sasha"/>
    </bean>

    <!--lesson 3-->
    <bean id="musicBean"
          class="springTest.lesson3.ClassicalMusic">
    </bean>

    <!--lesson 4-->
    <!--Dependency injection-->
    <!--создаем бин musicPlayer, передаем ему в конструктор ссылочное значение- бин musicBean -->
    <bean id="musicPlayer"
          class="springTest.lesson3.MusicPlayer">
        <constructor-arg ref="musicBean" />
    </bean>


    <!--lesson 5-->
    <!--Dependency injection при помощи сеттера и ссылочного значения-->
    <!-- тег <property - для сеттера-->
    <!-- в name передаем название сеттера с маленькой буквы без приставки set-->
    <bean id="musicPlayer2"
          class="springTest.lesson3.MusicPlayer">
        <property name="music" ref="musicBean"/>
    </bean>


    <!--Dependency injection без ссылок на другой бин, с прямым присвоением значений-->
    <!-- тег <property - для сеттера-->
    <bean id="musicPlayer3"
          class="springTest.lesson3.MusicPlayer">
        <property name="name" value="любое название"/>
        <property name="volume" value="50"/>
    </bean>

    <!--присваиваем значения из файла properties-->
    <!-- ${ключ}-->
    <bean id="musicPlayer4"
          class="springTest.lesson3.MusicPlayer">
        <property name="music" ref="musicBean"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>







</beans>